* {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
}

/* Add styles here! */
.max-width-wrapper {
  max-width: 600px;
  margin: auto;
}

.title {
  padding-top: 32px;
  margin-bottom: 48px;
}

.intro-chunk {
  max-width: 300px;
  padding: 0 24px 16px;
}

main {
  background-color: hsl(0deg, 0%, 60%);
  border-top: solid 4px hsl(0deg, 0%, 40%);
  padding-top: 56px;
}

.card {
  background-color: white;
  padding: 24px;
  border-bottom: solid 4px hsl(0deg, 0%, 40%);
}

.indented-heading {
  background-color: hsl(45deg, 100%, 50%);
  border-bottom: solid 4px hsl(45deg, 100%, 40%);
  padding: 16px 32px;
  margin-top: -16px;
  margin-left: -32px;
  width: -moz-fit-content;
  width: fit-content;
}

strong {
  color: hsl(160deg, 100%, 30%);
}

/*
Primary (green):
- `hsl(160deg, 100%, 30%)`
Secondary (gold):
- `hsl(45deg, 100%, 50%)` (lighter)
- `hsl(45deg, 100%, 40%)` (darker)
Grays:
- `hsl(0deg, 0%, 0%)` (black)
- `hsl(0deg, 0%, 10%)` (very dark)
- `hsl(0deg, 0%, 30%)` (dark)
- `hsl(0deg, 0%, 40%)` (medium)
- `hsl(0deg, 0%, 60%)` (light)
- `hsl(0deg, 0%, 100%)` (white)
*/